@media screen and (max-width: 700px) {
        header .container{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-bottom: 10px;

        }

        .botao {
            margin-top: 5px;
            width: 190px;
            height: 60px;
        }
}


@media screen and (max-height: 2000px) {
    .video {
        height: 100vmin;
    }
    
}